.property_modal {
    display: none;
    position: absolute;
    top: 60px;
    width: 100%;
    height: calc(100% - 60px);
    z-index: 1;
    pointer-events: none;
}

.property_modal_content {
    border-top: 1px solid white;
    font-family: 'Pretendard';
    overflow-y: auto;
    background-color: #141C26;
    color: white;
    padding: 20px;
    width: 80%;
    max-width: 400px;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4), 0 0 50px rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: all;
}
