.upload_modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.upload_modal_content {
    background-color: #141C26;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 600px) {
    .upload_modal_content {
        width: 65%;
    }
}

@media screen and (min-width: 1000px) {
    .upload_modal_content {
        width: 40%;
    }
}

#file_input {
    display: none;
}

#upload_file_input {
    margin: 10px 0;
    padding: 10px;
    background-color: #dbe0e2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

#upload_file_input:hover {
    background-color: #efeded;
}

#file_name {
    margin-top: 10px;
}

#upload_button {
    font-size:13px;
    margin: 10px 0;
    padding: 10px;
    background-color: #dbe0e2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#upload_button:hover {
    background-color: #efeded;
}

.file_input_div {
    background-color: white;
    border: 1px solid #00B8A3;
    font-size: 15px;
    margin: 8px;
    padding-top: 10px;
    padding-left: 3px;
    min-height: 28px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(128, 128, 128, 0.5);
}

#uploading-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#uploading-text {
    color: white;
    font-size: 17px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #00B8A3;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}